{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block body %}
    <section class="listing">

        {% for propertie in properties %}


            <article class="propertie">
                <h1 class="propertie-title">{{ propertie.address.city~" :  "~ propertie.address.complement }}</h1>
                <div class="propertie-imgList">
                    {% for img in propertie.pictures %}

                        <img class="propertie-img" src="{{ img.url }}">

                    {% endfor %}
                </div>


                <p class="propertie-description">{{ propertie.description }}</p>

                <p class="propertie-introduceEquipement">les différentes caractéristiques :</pclas>
                <ul class="carac">
                    <li class="carac-elem carac-personne"> nombre de personne : <span>{{ propertie.personCount }}</span>
                    </li>
                    <li class="carac-elem carac-bedRoom"> nombre de chambre : <span>{{ propertie.bedRoomCount }}</span>
                    </li>
                    <li class="carac-elem carac-bed"> nombre de lit : <span>{{ propertie.bedCount }}</span></li>
                    <li class="carac-elem carac-bathRoom"> nombre de salle de bain :
                        <span>{{ propertie.bathRoomCount }}</span></li>
                </ul>

                <div class="propertie-button">Reserver</div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
